In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats
import warnings
warnings.filterwarnings("ignore")

In [12]:
rank = pd.read_csv('../outputdata/testresults2.csv')
rank.head(5)
rank = rank[rank['citation_link'] == True]

In [13]:
rank.describe()
# overall trues

       similarity_score         rank
count       8553.000000  8553.000000
mean           0.283730     8.170700
std            0.271702     5.931681
min            0.001925     1.000000
25%            0.060291     3.000000
50%            0.184211     7.000000
75%            0.465783    13.000000
max            0.981855    20.000000

In [15]:
rank_quint = rank[rank['method'] == 'tfidf-quintgram-nostem']
rank_quint.describe()

       similarity_score        rank
count        423.000000  423.000000
mean           0.073021    7.706856
std            0.068153    5.605019
min            0.005107    1.000000
25%            0.032065    3.000000
50%            0.052108    6.000000
75%            0.095332   12.000000
max            0.517424   20.000000

In [16]:
rank_tfidf = rank[rank['method'] == 'tfidf-nostem']
rank_tfidf.describe()

       similarity_score        rank
count        365.000000  365.000000
mean           0.526041    7.761644
std            0.156041    5.782757
min            0.133747    1.000000
25%            0.407617    3.000000
50%            0.514371    6.000000
75%            0.645148   12.000000
max            0.922640   20.000000

In [17]:
rank_jacc = rank[rank['method'] == 'jaccard']
rank_jacc.describe()

       similarity_score        rank
count        374.000000  374.000000
mean           0.232433   13.692513
std            0.050067    5.653450
min            0.128974    1.000000
25%            0.203471   10.000000
50%            0.221866   15.000000
75%            0.246801   18.000000
max            0.450826   20.000000

In [18]:
rank_ejc = rank[rank['method'] == 'doc2vec_256_e30']
rank_ejc.describe()

       similarity_score       rank
count         46.000000  46.000000
mean           0.583930   9.695652
std            0.064001   6.373102
min            0.462089   1.000000
25%            0.541374   4.000000
50%            0.576731   8.000000
75%            0.619147  15.000000
max            0.738187  20.000000

In [19]:
rank_googlecosine = rank[rank['method'] == 'GoogleNews_300']
rank_googlecosine.describe()

       similarity_score       rank
count         29.000000  29.000000
mean           0.657558   8.172414
std            0.089960   6.313641
min            0.504469   1.000000
25%            0.598413   2.000000
50%            0.647278   8.000000
75%            0.713401  14.000000
max            0.866215  20.000000

In [22]:
rank_law2veccosine = rank[rank['method'] == 'law2vec_200']
rank_law2veccosine.describe()

       similarity_score       rank
count         31.000000  31.000000
mean           0.671667   8.322581
std            0.082691   6.068427
min            0.502602   1.000000
25%            0.617318   3.500000
50%            0.666026   8.000000
75%            0.720172  12.000000
max            0.875702  20.000000

In [23]:
rank_ejcwmd = rank[rank['method'] == 'WMD_256_e30']
rank_ejcwmd.describe()

       similarity_score        rank
count        116.000000  116.000000
mean           0.957924    6.568966
std            0.010424    5.340940
min            0.911430    1.000000
25%            0.954614    2.000000
50%            0.959803    5.000000
75%            0.963721   10.000000
max            0.978595   20.000000

In [24]:
rank_googlewmd = rank[rank['method'] == 'GoogleNews-300-WMD']
rank_googlewmd.describe()

       similarity_score        rank
count        154.000000  154.000000
mean           0.960065    7.389610
std            0.008162    5.892625
min            0.934017    1.000000
25%            0.955423    2.000000
50%            0.960660    6.000000
75%            0.965338   12.000000
max            0.981855   20.000000

In [25]:
rank_law2vecwmd = rank[rank['method'] == 'Law2Vec-200-WMD']
rank_law2vecwmd.describe()

       similarity_score        rank
count        156.000000  156.000000
mean           0.964332    6.993590
std            0.009810    5.751294
min            0.907339    1.000000
25%            0.960704    2.000000
50%            0.965891    5.000000
75%            0.969617   11.000000
max            0.981343   20.000000